[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
[submodule "angle-uwp"]
	path = angle-uwp
	url = https://github.com/massif-maps/angle-uwp.git
	branch = master
[submodule "angle-metal"]
	path = angle-metal
	url = https://github.com/massif-maps/angle-metal.git
	branch = master
[submodule "brotli/brotli"]
	path = brotli/brotli
	url = https://github.com/google/brotli.git
	branch = master
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/massif-maps/zlib.git
	branch = develop
[submodule "pugixml/pugixml"]
	path = pugixml/pugixml
	url = https://github.com/zeux/pugixml.git
	branch = master
[submodule "miniz/miniz"]
	path = miniz/miniz
	url = https://github.com/massif-maps/miniz.git
[submodule "libwebp/libwebp"]
	path = libwebp/libwebp
	url = https://github.com/massif-maps/libwebp.git
[submodule "libjpeg/libjpeg"]
	path = libjpeg/libjpeg
	url = https://github.com/massif-maps/libjpeg-turbo.git
[submodule "libpng/libpng"]
	path = libpng/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "freetype/freetype"]
	path = freetype/freetype
	url = https://github.com/massif-maps/freetype.git
	branch = fast-sdf
[submodule "cryptopp/cryptopp"]
	path = cryptopp/cryptopp
	url = https://github.com/massif-maps/cryptopp.git
[submodule "harfbuzz/harfbuzz"]
	path = harfbuzz/harfbuzz
	url = https://github.com/massif-maps/harfbuzz.git
[submodule "protobuf/protobuf"]
	path = protobuf/protobuf
	url = https://github.com/massif-maps/protobuf.git
	branch = 3.20.x
[submodule "valhalla/valhalla"]
	path = valhalla/valhalla
	url = https://github.com/massif-maps/valhalla.git
	branch = mbtiles-support
[submodule "date/date"]
	path = date/date
	url = https://github.com/HowardHinnant/date.git
[submodule "zstd/zstd"]
	path = zstd/zstd
	url = https://github.com/facebook/zstd.git
[submodule "geojsonvt/geojson-vt-cpp"]
	path = geojsonvt/geojson-vt-cpp
	url = https://github.com/mapbox/geojson-vt-cpp.git
[submodule "geojsonvt/geometry.hpp"]
	path = geojsonvt/geometry.hpp
	url = https://github.com/mapbox/geometry.hpp.git
[submodule "geojsonvt/variant"]
	path = geojsonvt/variant
	url = https://github.com/mapbox/variant.git
[submodule "mlt/mlt"]
	path = mlt/mlt
	url = https://github.com/maplibre/maplibre-tile-spec.git
	branch = main
	shallow = true
